<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Component Lifecycle</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li routerLink="/onchanges" class="nav-item">
                    ngOnChange
                </li>
                <li routerLink="/docheck" class="nav-item" >
                    ngDoCheck
                </li>
            </ul>
        </div>
    </div>
</nav>